<!DOCTYPE html>
<html lang="en">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <div class="flex h-screen flex-col items-center justify-center gap-3 py-3 px-4 relative">

    <img class="h-full w-full absolute top-0 left-0 z-[-2]" src="<%= bg %>">
    <div
      class="bg-contain bg-center bg-no-repeat bg-login w-full h-full flex items-center justify-center relative flex-col p-11">
      <% if (is_show_logo) { %>
        <div class="bg-no-repeat absolute">
          <img class="w-[144px] h-[37px]" src="<%= logoPreview %>" alt="">
        </div>
        <% } %>
          <div class="flex flex-col justify-center items-center gap-3">

            <span class="font-bold">
              <%= name %>
            </span>

          </div>
          <div class="flex flex-col w-full">
            <span class="font-bold">
              <%= date %>
            </span>
            <span>
              date conclusion
            </span>
          </div>
    </div>
  </div>
</body>

</html>